body{
    background-color: #101010;
}
.teamSection .roster .igrac .jedan{
    background-image: url(../images/nemanja2.png);
}

.dva{
    background-image: url(../images/cjoffo1.png);
}
.tri{
    
    background-image: url(../images/simke1.png);
}
.cetri{
    background-image: url(../images/brutmonster1.png);
}
.pet{
    background-image: url(../images/avnn1.png);
}
.sest{
    background-image: url(../images/fajkus1.png);
}
.mecevi{
    position: relative;
    top: 200px;
}
.newsletter{
    position: relative;
    top: 200px;
    z-index: 0;
}
.image{
    width: 100%;
    height: 100%;
}
.image img{
    position: relative;
    width: 100%;
}
footer{
    position: relative;
    top: 200px;
}