@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Oswald:wght@700&family=Poppins:wght@600&display=swap');
.igrac{
    font-family: 'Oswald', sans-serif;
}
h1 {
    font-family: 'Oswald', sans-serif;
}
.vesti {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}
.lastNew {
    font-family: 'Oswald', sans-serif;
}
#brStr {
    font-family: 'Courier New', Courier, monospace;
}