body{
    background-color: #101010;
}

.teamSection .roster .igrac .jedan{
    background-image: url(../images/lol1.png);
}

.dva{
    background-image: url(../images/lol2.png);
}
.tri{
    background-image: url(../images/lol3.png);
}
.cetri{
    background-image: url(../images/lol4.png);
}
.pet{
    background-image: url(../images/lol5.png);
}
.sest{
    background-image: url(../images/csgo_silhouette.png);
}

.mecevi{
    position: relative;
    top: 200px;
}
.newsletter{
    position: relative;
    top: 200px;
}
footer{
    position: relative;
    top: 200px;
}