*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
}
header{
    position: fixed;
    width: 100%;
    transition: 0.5s;
    z-index: 9999;
}

.sticky{
background: #cf0637;
transition: 0.5s;
}
.sticky a.active,nav ul li a:hover{
    background-color: #b80532;
}

nav{
    background:transparent;
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 70px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 100px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 20px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

 a.active,nav ul li a:hover{
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #101010;
    min-width: 160px;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 16px;
    width: 100%;
    border: 1px solid black;
    height: 60px;
    align-items: center;
    justify-content: center;
  }
  .dropdown-content a p{
    position: relative;
    top: -15px;
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #b80532;
    color: #101010;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

@media (max-width: 1050px) {
    label .logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 960px){
    label .logo img{
        margin-left: 0px;
        font-size: 30px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 930px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #b80532;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: 0.5s;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background:none;
        color: aqua;
    }
    #check:checked ~ ul{
        left: 0;
    }
}