body{
  background-color: #101010;
}

.mainNews{
  color: white;
  display: flex;
  position: relative;
  top: 100px;
  width: 100%;
}
.mainNews p{
  font-size: 15px;
  color: white;
}

.mainNews .lastNew{
  position: relative;
  width: 60%;
  height: 100%;
}
.mainNews .lastNew .image{
  position: relative;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}
.mainNews .lastNew .image img{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.mainNews .lastNew .image h1{
  position: relative;
  top: -70px;
  left: 5%;
  font-size: 24px;
}


.mainNews .latest{
  position: relative;
  width: 40%;
  height: 100%;
}

.mainNews .latest .matches{
  position: relative;
  width: 80%;
  height: 70%;
  top: 15%;
  left: 3%;
  color: black;
  font-weight: bold;

}
.mainNews .matches .buttons{
  position: relative;
  align-items: center;
  text-align: center;
}
.mainNews .matches .buttons button{
  position: relative;
  width: 49%;
  height: 30px;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid #e21d2d;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
}
#upcomingBtn{
  border-bottom: 3px solid #e21d2d;
  transition: 0.3s ease-in-out;
}
#pasResBtn{
  border-bottom: 1px solid #e21d2d;
  transition: 0.3s ease-in-out;
}
#upcomingBtn:hover, #pasResBtn:hover{
  color: #e21d2d;
}
#upcomingBtn:focus, #pasResBtn:focus{
  background-image: linear-gradient(rgba(0, 0, 0, 0.116) 60%, rgba(247, 0, 0, 0.281));
}


.mainNews .matches .upcoming{
  background-color: #101010;
  position: relative;
  width: 95%;
  height: 70%;
  top: 10%;
  left: 2.5%;
  display: block;
}

.mainNews .matches .upcoming .matchInfo{
  position: relative;
  width: 100%;
  height: 35%;
  display: flex;
}
.mainNews .matches .upcoming .slicice_dugme{
  position: relative;
  display: flex;
  width: 100%;
  height: 25%;
  border-bottom: 1px solid white;
  margin-bottom: 30px;
}
.mainNews .matches .upcoming .slicice_dugme .slicice{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  top: 15px;
  color: white;
}
.mainNews .matches .upcoming .slicice_dugme .slicice img{
  height: 105px;
  width: 120px;
  margin-left: 4%;
  margin-right: 4%;
  filter: blur(8px);
  transition: .3s ease-in-out;
  margin-bottom: 40px;
}
.mainNews .matches .upcoming .slicice_dugme .slicice img:hover{
  filter: none;
}

.mainNews .matches .upcoming .slicice_dugme .dugme{
  width: 35%;
  height: 100%;
}
.mainNews .matches .upcoming .matchInfo .left{
  position: relative;
  width: 70%;
  text-align: center;
  margin-top: 3%;
}
.mainNews .matches .upcoming .matchInfo .right{
  position: relative;
  width: 30%;
  color: white;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 3%;
}

#v{
  font-size: 54px;
  margin-top: -25px;
  font-style: italic;
}
#s{
  font-size: 54px;
  margin-top: 25px;
  font-style: italic;
}
.matchInfo .mini-title
{
  font-size: 23px;
  font-weight: 900;
  color: #e21d2d;
}
.matchInfo .not-bold
{
  font-weight: 300;
}
.dugme div {
  margin-right: 10%;
}
.dugme div a {
  width: 100%;
  max-width: 240px;
  font-size: 0.8rem;
  font-weight: 900;
  color: #ff4655;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  margin: 10px 0;
}

.dugme div a p {
  margin: 0;
  height: 54px;
  line-height: 54px;
  box-sizing: border-box;
  z-index: 1;
  left: 0;
  width: 100%;
  font-size: 20px;
  font-style: italic;
  position: relative;
  overflow: hidden;
}
.dugme div a p span.base {
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid #e21d2d;
}

.dugme div a p span.bg {
  left: -5%;
  position: absolute;
  background: #e21d2d;
  width: 0;
  height: 100%;
  z-index: 3;
  transition: 0.3s ease-out all;
  transform: skewX(-10deg);
}
.dugme div a p span.text {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.dugme div a p span.text:after {
  content: "";
  width: 6px;
  height: 4px;
  right: 0;
  bottom: 0;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
  z-index: 5;
}
.dugme div a:hover {
  color: #ece8e1;
}
.dugme div a:hover span.bg {
  width: 110%;
}
.dugme div a:hover span.text:after {
  background: #ece8e1;
}

.mainNews .matches .pastRes{
  background-color: #101010;
  position: relative;
  width: 95%;
  height: 70%;
  top: 10%;
  left: 2.5%;
  display: none;
}

.mainNews .matches .pastRes .matchInfo{
  position: relative;
  width: 100%;
  height: 35%;
  display: flex;
}
.mainNews .matches .pastRes .slicice_dugme{
  position: relative;
  display: flex;
  width: 100%;
  height: 25%;
  border-bottom: 1px solid white;
  margin-bottom: 30px;
}
.mainNews .matches .pastRes .slicice_dugme .slicice{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  top: 15px;
  color: white;
}
.mainNews .matches .pastRes .slicice_dugme .slicice img{
  height: 105px;
  width: 120px;
  margin-left: 4%;
  margin-right: 4%;
  filter: blur(8px);
  transition: .3s ease-in-out;
  margin-bottom: 40px;
}
.mainNews .matches .pastRes .slicice_dugme .slicice img:hover{
  filter: none;
}

.mainNews .matches .pastRes .slicice_dugme .dugme{
  width: 35%;
  height: 100%;
}
.mainNews .matches .pastRes .matchInfo .left{
  position: relative;
  width: 70%;
  text-align: center;
  margin-top: 3%;
}
.mainNews .matches .pastRes .matchInfo .right{
  position: relative;
  width: 30%;
  color: white;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 3%;
}


.pastRes{
  display: none;
}

.vesti{
  top: 300px;
  width: 100%;
  align-items: center;
  position: relative;
}
.vesti h1{
  color: white;
  position: relative;
  margin-left: 40%;
  font-size: 50px;
  font-weight: bold;
}

.wrapper {
  width: 80%;
  height: 80%;
  top: 5%;
  left: 10%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 250px;
  
}

.vesti h1{
  margin-left: 40% ;
}
.wrapper .kartica{
  position: relative;
  margin: 10px;
  background-color: black;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: .3s all ease;
}
.wrapper .kartica:hover{
  border: 1px solid red;
}
.wrapper .kartica .slika{
  position: relative;
  width: 100%;
  height: 80%;
}
.wrapper .kartica .slika img{
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 30px;
}
.wrapper .kartica .naslov{
  position: relative;
  width: 100%;
  height: 20%;
  color: white;
  font-weight: bold;
  text-align: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.wrapper .kartica .naslov h4{
  position: relative;
  top: 25%;
}
.paginacija{
  display: flex;
  width: max-content;
  position: relative;
  top: 50%;
  left: 44.5%;
}
.paginacija button{
  width: 100px;
  height: 50px;
  background-color: transparent;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border: none;
}
.paginacija button:hover{
  transform: scale(1.1);
}
.paginacija span{
  width: max-content;
  height: max-content;
  position: relative;
  top: 15px;
  font-size: 20px;
}

@media screen and (max-width: 1500px) {
  .vesti h1{
    margin-left: 40%;
    font-size: 45px;
  }
  .mainNews
  {
    display: block;
    height: auto;
    width: 100%;
    
  }
  .mainNews .lastNew
  {
    width: 100%;
  }    
  .mainNews .lastNew .image h1{
    top: -80px;
    left: 5%;
  }
  .mainNews .latest
  {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 3%;
  }
  .mainNews .latest .matches
  {
    width: 90%;
    margin-left: 2.5%;
    margin-right: 3%;
  }
 
  .mainNews .matches .upcoming .slicice_dugme .slicice{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 35%;
    align-items: center;
    top: -30px;
    color: white;
  }
  .mainNews .matches .upcoming .slicice_dugme .slicice img{
    height: 140px;
    margin-left: 4%;
    margin-right: 4%;
    filter: blur(8px);
    transition: .3s ease-in-out;
    margin-bottom: 20px;
  }
  .mainNews .matches .pastRes .slicice_dugme .slicice{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 30%;
    align-items: center;
    top: -30px;
    color: white;
  }
  .mainNews .matches .pastRes .slicice_dugme .slicice img{
    height: 140px;
    margin-left: 4%;
    margin-right: 4%;
    filter: blur(8px);
    transition: .3s ease-in-out;
    margin-bottom: 20px;
  }
  .mainNews .matches .upcoming .matchInfo .left{
    position: relative;
    width: 70%;
    text-align: center;
    margin-top: 3%;
    left: -13%; 
    color: white;
  }
  .mainNews .matches .upcoming .matchInfo .right{
    position: relative;
    width: 30%;
    right: 9%;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-top: 3%;
  }
  .mainNews .matches .pastRes .matchInfo .left{
    position: relative;
    width: 70%;
    text-align: center;
    margin-top: 3%;
    left: -13%; 
    color: white;
  }
  .mainNews .matches .pastRes .matchInfo .right{
    position: relative;
    width: 30%;
    right: 9%;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-top: 3%;
  }
  .matchInfo .mini-title
  {
    font-size: 24px;
    font-weight: 900;
    color: #e21d2d;
  }
  .matchInfo .not-bold
  {
    font-weight: 300;
    font-size: 18px;
  }
  #v{
    font-size: 54px;
    margin-top: -25px;
    font-style: italic;
  }
  #s{
    font-size: 54px;
    margin-top: 25px;
    font-style: italic;
  }
  .mainNews .matches .pastRes .slicice_dugme .dugme{
    width: 60%;
    margin-right: 12%;
  }
  .mainNews .matches .upcoming .slicice_dugme .dugme{
    width: 60%;
    margin-right: 12%;
  }

}

@media screen and (max-width: 1250px) 
{
  .vesti h1{
    margin-left: 40%;
    font-size: 40px;
  }
  .mainNews .matches .upcoming .slicice_dugme .slicice{
    margin-left: 35%;
  }
  .mainNews .matches .upcoming .slicice_dugme .slicice img{
    height: 130px;
  }
  .mainNews .matches .pastRes .slicice_dugme .slicice{
    margin-left: 35%;
  }
  .mainNews .matches .pastRes .slicice_dugme .slicice img{
    height: 130px;
  }
  .mainNews .matches .upcoming .matchInfo .left{
    margin-top: 3%;
    left: -13%; 
    margin-right: 10%;
  }
  .mainNews .matches .upcoming .matchInfo .right{
    position: relative;
    width: 30%;
    right: 3% !important;
  }
  .mainNews .matches .pastRes .matchInfo .left{
    margin-top: 3%;
    left: -13%; 
    margin-right: 10%;
  }
  .mainNews .matches .pastRes .matchInfo .right{
    position: relative;
    width: 30%;
    right: 3% !important;
  }

  .mainNews .matches .pastRes .slicice_dugme .dugme{
    width: 60%;
    margin-right: 5%;
  }
  .mainNews .matches .upcoming .slicice_dugme .dugme{
    width: 60%;
    margin-right: 5%;
  }
  .matchInfo .mini-title
  {
    font-size: 21px;

  }
  .matchInfo .not-bold
  {
    font-weight: 300;
    font-size: 18px;
  }

}

@media screen and (max-width: 1100px) 
{
  .vesti h1{
    margin-left: 36%;
    font-size: 35px;
  }
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .mainNews .matches .upcoming .slicice_dugme .slicice{
    margin-left: 35%;
  }
  .mainNews .matches .upcoming .slicice_dugme .slicice img{
    height: 110px;
  }
  .mainNews .matches .pastRes .slicice_dugme .slicice{
    margin-left: 35%;
  }
  .mainNews .matches .pastRes .slicice_dugme .slicice img{
    height: 110px;
  }
  .mainNews .matches .upcoming .matchInfo .left{
    margin-top: 3%;
    left: -10%; 
    margin-right: 15%;
  }
  .mainNews .matches .upcoming .matchInfo .right{
    width: 30%;
    right: -2% !important;
  }
  .mainNews .matches .pastRes .matchInfo .left{
    margin-top: 3%;
    left: -10%; 
    margin-right: 15%;
  }
  .mainNews .matches .pastRes .matchInfo .right{
    width: 30%;
    right: -2% !important;
  }

  .mainNews .matches .pastRes .slicice_dugme .dugme{
    width: 40%;
    margin-right: 0%;
  }
  .mainNews .matches .upcoming .slicice_dugme .dugme{
    width: 40%;
    margin-right: 0%;
  }
  .matchInfo .mini-title
  {
    font-size: 18px;

  }
  .matchInfo .not-bold
  {
    font-size: 16px;
  }
  .paginacija{
    top: 50%;
    left: 40%;
  }
}
@media screen and (max-width: 850px) 
{
  .vesti h1{
    margin-left: 38%;
    font-size: 26px;
  }
  .mainNews .lastNew .image h1{
    top: -60px;
    font-size: 24px;
  }
  
  .mainNews .matches .upcoming .slicice_dugme .slicice{
    width: 50%;
    height: 100%;
    margin-left: 10%;
    top: 5px;
  }
  .mainNews .matches .upcoming .slicice_dugme .slicice img{
    height: 90px;
    margin-left: 4%;
    margin-right: 4%;
  }
  .mainNews .matches .pastRes .slicice_dugme .slicice{
    width: 50%;
    height: 100%;
    margin-left: 10%;
    top: 5px;
  }
  .mainNews .matches .pastRes .slicice_dugme .slicice img{
    height: 90px;
    margin-left: 4%;
    margin-right: 4%;
  }
  .mainNews .matches .upcoming .matchInfo .left{
    width: 70%;
    margin-top: 3%;
    left: -3%; 
  }
  .mainNews .matches .upcoming .matchInfo .right{
    width: 30%;
    right: 7% !important;
  }
  .mainNews .matches .pastRes .matchInfo .left{
    width: 70%;
    margin-top: 3%;
    left: -3%; 
  }
  .mainNews .matches .pastRes .matchInfo .right{
    width: 30%;
    right: 7% !important;
  }
  .matchInfo .mini-title
  {
    font-size: 16px;
  }
  .matchInfo .not-bold
  {
    font-size: 12px;
  }
  #v{
    font-size: 26px;
    margin-top: -25px;
  }
  #s{
    font-size: 26px;
    margin-top: 25px;
  }
  .mainNews .matches .pastRes .slicice_dugme .dugme{
    width: 40% !important;
    margin-right: -20% !important;
  }
  .mainNews .matches .upcoming .slicice_dugme .dugme{
    width: 40% !important;
    margin-right: -20% !important;
  }

  .wrapper {grid-template-columns: repeat(2, 1fr);}

  .paginacija{
    top: 50%;
    left: 37%;
  }

}
@media screen and (max-width: 600px) {
  .mainNews .lastNew .image h1{
    top: -60px;
    font-size: 21px;
  }
  .mainNews .matches .upcoming .slicice_dugme .slicice{
    margin-left: 3% !important;
  }
  .mainNews .matches .upcoming .slicice_dugme .slicice img{
    height: 70px;
  }
  .mainNews .matches .pastRes .slicice_dugme .slicice{
    width: 50%;
  }
  .mainNews .matches .pastRes .slicice_dugme .slicice img{
    height: 70px;
  }
  .mainNews .matches .upcoming .matchInfo .left{
    width: 70%;
    margin-top: 1%;
  }
  .mainNews .matches .upcoming .matchInfo .right{
    width: 30%;
    right: 7% !important;
    margin-top: 1%;
  }
  .mainNews .matches .pastRes .matchInfo .left{
    width: 70%;
    margin-top: 1%;
  }
  .mainNews .matches .pastRes .matchInfo .right{
    width: 30%;
    right: 7% !important;
    margin-top: 1%;
  }
  .matchInfo .mini-title
  {
    font-size: 14px;
  }
  .matchInfo .not-bold
  {
    font-size: 12px;
  }
  #v{
    font-size: 26px;
    margin-top: -25px;
  }
  #s{
    font-size: 26px;
    margin-top: 25px;
  }
  .mainNews .matches .pastRes .slicice_dugme .dugme{
    width: 110px !important;
    margin-left: 10%;
  }
  .mainNews .matches .upcoming .slicice_dugme .dugme{
    width: 110px !important;
    margin-left: 10%;
  }
  #upcomingBtn
  {
    width: 40%;
  }
  #pasResBtn
  {
    width: 40%;
  }
  .vesti h1{
    margin-left: 38%;
    font-size: 21px;
  }
  .paginacija{
    top: 50%;
    left: 30%;
  }
}
@media screen and (max-width: 450px) {
  
  .vesti h1{
    font-size: 21px;
  }
  .mainNews .lastNew .image h1{
    top: -30px;
    font-size: 16px;
  }
    .mecevi .matches .upcoming .slicice_dugme .slicice{
        margin-left: 2%;
        top: 10px;
    }
    .mecevi .matches .upcoming .slicice_dugme .slicice img{
        height: 80px;
        max-width: 110px !important;
    }
    .mecevi .matches .upcoming .slicice_dugme .dugme{
        margin-right: 7%;
    }
    .text
    {
        font-size: 16px;
    }
    .mainNews .matches .pastRes .slicice_dugme .dugme{
      width: 110px !important;
      margin-left: 5%;
    }
    .mainNews .matches .upcoming .slicice_dugme .dugme{
      width: 110px !important;
      margin-left: 10%;
    }
    .matchInfo .mini-title
    {
      font-size: 12px;
    }
    .matchInfo .not-bold
    {
      font-size: 11px;
    }
    .wrapper {
      grid-template-columns: repeat(2, 1fr);
      width: 80%;
      height: 80%;
      top: 5%;
      left: 10%;
      grid-auto-rows: 150px;
    }
    .wrapper .kartica{
      position: relative;
      margin: 10px;
      background-color: black;
      border-radius: 30px;
      transition: .3s all ease;
    }
    .wrapper .kartica:hover{
      border: 1px solid red;
    }
    .wrapper .kartica .slika{
      position: relative;
      width: 100%;
      height: 70%;
    }
    .wrapper .kartica .slika img{
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 30px;
    }
    .wrapper .kartica .naslov{
      position: relative;
      width: 100%;
      height: 10%;
      color: white;
      font-weight: bold;
      text-align: center;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
    }
    .wrapper .kartica .naslov h4{
      position: relative;
      top: 25%;
      font-size: 12px;
    }
    .paginacija{
      top: 50%;
      left: 25%;
    }
    .paginacija button{
      width: 100px;
      height: 50px;
      background-color: transparent;
      color: white;
      font-size: 20px;
      cursor: pointer;
      border: none;
    }
    .paginacija button:hover{
      transform: scale(1.1);
    }
    .paginacija span{
      width: max-content;
      height: max-content;
      position: relative;
      top: 15px;
      font-size: 20px;
    }
}


/*treba da se doradi responsive*/
@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}





.newsletter{
  position: relative;
  top: 300px;
}


footer{
  position: relative;
  top: 300px;
}