body{
  background-color: #101010;
}

.mainNews{
  color: white;
  display: flex;
  position: relative;
  top: 100px;
  width: 100%;
  height: 70vh;
}
.mainNews p{
  font-size: 15px;
  color: white;
}

.mainNews .lastNew{
  position: relative;
  width: 60%;
  height: 100%;
}
.mainNews .lastNew .image{
  position: relative;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}
.mainNews .lastNew .image img{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.mainNews .lastNew .image h1{
  position: relative;
  top: -12%;
  left: 5%;
}


.mainNews .latest{
  position: relative;
  width: 40%;
  height: 100%;
}

.mainNews .latest .matches{
  position: relative;
  width: 80%;
  height: 70%;
  top: 15%;
  left: 3%;
  color: black;
  font-weight: bold;

}
.mainNews .matches .buttons{
  position: relative;
  align-items: center;
  text-align: center;
}
.mainNews .matches .buttons button{
  position: relative;
  width: 49%;
  height: 30px;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid #e21d2d;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
}
#upcomingBtn{
  border-bottom: 3px solid #e21d2d;
  transition: 0.3s ease-in-out;
}
#pasResBtn{
  border-bottom: 1px solid #e21d2d;
  transition: 0.3s ease-in-out;
}
#upcomingBtn:hover, #pasResBtn:hover{
  color: #e21d2d;
}
#upcomingBtn:focus, #pasResBtn:focus{
  background-image: linear-gradient(rgba(0, 0, 0, 0.116) 60%, rgba(247, 0, 0, 0.281));
}


.mainNews .matches .upcoming{
  background-color: #101010;
  position: relative;
  width: 95%;
  height: 70%;
  top: 10%;
  left: 2.5%;
  display: block;
}

.mainNews .matches .upcoming .matchInfo{
  position: relative;
  width: 100%;
  height: 35%;
  display: flex;
}
.mainNews .matches .upcoming .slicice_dugme{
  position: relative;
  display: flex;
  width: 100%;
  height: 25%;
  border-bottom: 1px solid white;
  margin-bottom: 30px;
}
.mainNews .matches .upcoming .slicice_dugme .slicice{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  top: -20px;
  color: white;
}
.mainNews .matches .upcoming .slicice_dugme .slicice img{
  height: 100%;
  width: 50%;
  margin-left: 6%;
  margin-right: 6%;
  filter: blur(8px);
  transition: .3s ease-in-out;
  margin-bottom: 20px;
}
.mainNews .matches .upcoming .slicice_dugme .slicice img:hover{
  filter: none;
}

.mainNews .matches .upcoming .slicice_dugme .dugme{
  width: 35%;
  height: 100%;
}
.mainNews .matches .upcoming .matchInfo .left{
  position: relative;
  width: 70%;
  text-align: center;
  margin-top: 3%;
}
.mainNews .matches .upcoming .matchInfo .right{
  position: relative;
  width: 30%;
  color: white;
  text-align: center;
  margin-top: 3%;
}

#v{
  font-size: 54px;
  margin-top: -25px;
  font-style: italic;
}
#s{
  font-size: 54px;
  margin-top: 25px;
  font-style: italic;
}
.matchInfo .mini-title
{
  font-size: 16px;
  font-weight: 900;
  color: #e21d2d;
}
.matchInfo .not-bold
{
  font-weight: 300;
}
.dugme div {
  margin-right: 10%;
}
.dugme div a {
  width: 100%;
  max-width: 240px;
  font-size: 0.8rem;
  font-weight: 900;
  color: #ff4655;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  margin: 10px 0;
}

.dugme div a p {
  margin: 0;
  height: 54px;
  line-height: 54px;
  box-sizing: border-box;
  z-index: 1;
  left: 0;
  width: 100%;
  font-size: 20px;
  font-style: italic;
  position: relative;
  overflow: hidden;
}
.dugme div a p span.base {
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid #e21d2d;
}

.dugme div a p span.bg {
  left: -5%;
  position: absolute;
  background: #e21d2d;
  width: 0;
  height: 100%;
  z-index: 3;
  transition: 0.3s ease-out all;
  transform: skewX(-10deg);
}
.dugme div a p span.text {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.dugme div a p span.text:after {
  content: "";
  width: 6px;
  height: 4px;
  right: 0;
  bottom: 0;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
  z-index: 5;
}
.dugme div a:hover {
  color: #ece8e1;
}
.dugme div a:hover span.bg {
  width: 110%;
}
.dugme div a:hover span.text:after {
  background: #ece8e1;
}

.mainNews .matches .pastRes{
  background-color: #101010;
  position: relative;
  width: 95%;
  height: 70%;
  top: 10%;
  left: 2.5%;
  display: none;
}

.mainNews .matches .pastRes .matchInfo{
  position: relative;
  width: 100%;
  height: 35%;
  display: flex;
}
.mainNews .matches .pastRes .slicice_dugme{
  position: relative;
  display: flex;
  width: 100%;
  height: 25%;
  border-bottom: 1px solid white;
  margin-bottom: 30px;
}
.mainNews .matches .pastRes .slicice_dugme .slicice{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  top: -20px;
  color: white;
}
.mainNews .matches .pastRes .slicice_dugme .slicice img{
  height: 100%;
  width: 50%;
  margin-left: 6%;
  margin-right: 6%;
  filter: blur(8px);
  transition: .3s ease-in-out;
  margin-bottom: 20px;
}
.mainNews .matches .pastRes .slicice_dugme .slicice img:hover{
  filter: none;
}

.mainNews .matches .pastRes .slicice_dugme .dugme{
  width: 35%;
  height: 100%;
}
.mainNews .matches .pastRes .matchInfo .left{
  position: relative;
  width: 70%;
  text-align: center;
  margin-top: 3%;
}
.mainNews .matches .pastRes .matchInfo .right{
  position: relative;
  width: 30%;
  color: white;
  text-align: center;
  margin-top: 3%;
}


.pastRes{
  display: none;
}

.vesti{
  top: 300px;
  width: 100%;
  height: 70vh;
  align-items: center;
  position: relative;
}
.vesti h1{
  color: white;
  position: relative;
  width: max-content;
  left: 40%;
  font-size: 50px;
  font-weight: bold;
}

.wrapper {
  width: 80%;
  height: 80%;
  top: 5%;
  left: 10%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 250px;
  
}
.wrapper .kartica{
  position: relative;
  margin: 10px;
  background-color: black;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: .3s all ease;
}
.wrapper .kartica:hover{
  border: 1px solid red;
}
.wrapper .kartica .slika{
  position: relative;
  width: 100%;
  height: 80%;
}
.wrapper .kartica .slika img{
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 30px;
}
.wrapper .kartica .naslov{
  position: relative;
  width: 100%;
  height: 20%;
  color: white;
  font-weight: bold;
  text-align: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.wrapper .kartica .naslov h4{
  position: relative;
  top: 25%;
}
.paginacija{
  display: flex;
  width: max-content;
  position: relative;
  top: 50%;
  left: 44.5%;
}
.paginacija button{
  width: 100px;
  height: 50px;
  background-color: transparent;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border: none;
}
.paginacija button:hover{
  transform: scale(1.1);
}
.paginacija span{
  width: max-content;
  height: max-content;
  position: relative;
  top: 15px;
  font-size: 20px;
}

@media screen and (max-width: 1500px) {
  .mainNews
  {
    display: block;
    height: auto;
    width: 100%;
    
  }
  .mainNews .lastNew
  {
    width: 100%;
  }    
  .mainNews .lastNew .image h1{
    top: -80px;
    left: 5%;
  }
  .mainNews .latest
  {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 3%;
  }
  .mainNews .latest .matches
  {
    width: 90%;
    margin-left: 2.5%;
    margin-right: 3%;
  }
 
  .mainNews .matches .upcoming .slicice_dugme .slicice{
    width: 50%;
    height: 50%;
    margin-left: 10%;
  }
  .mainNews .matches .upcoming .slicice_dugme .slicice img{
      height: 50%;
      width: 25%;
      margin-left: 10%;
  }
  .mainNews .matches .pastRes .slicice_dugme .slicice{
    width: 50%;
    height: 50%;
    margin-left: 10%;
  }
  .mainNews .matches .pastRes .slicice_dugme .slicice img{
      height: 50%;
      width: 25%;
      margin-left: 10%;
  }
  .mainNews .matches .upcoming .matchInfo .left{
    margin-top: 1%;
    padding-bottom: 30px;
  }
  .mainNews .matches .upcoming .matchInfo .right{
      margin-top: 2%;
      margin-right: 10%;
  }
  .mainNews .matches .pastRes .matchInfo .left{
    margin-top: 1%;
    padding-bottom: 30px;
  }
  .mainNews .matches .pastRes .matchInfo .right{
      margin-top: 2%;
      margin-right: 10%;
  }
  .matchInfo .mini-title
  {
      font-size: 21px;
  }
  .matchInfo .not-bold
  {
    font-size: 18px;
      font-weight: 300;
  }
  #v{
    font-size: 64px;
  }
  #s{
      font-size: 64px;
  }
  .mainNews .matches .pastRes .slicice_dugme .dugme{
    width: 40%;
  }
  .vesti h1
  {
    left: 35%;
  }

}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}





.newsletter{
  position: relative;
  top: 500px;
}


footer{
  position: relative;
  top: 500px;
}