* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.vesti{
  width: 100%;
  height: 70vh;
  align-items: center;
  position: relative;
}

.wrapper {
  width: 80%;
  height: 80%;
  top: 5%;
  left: 10%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 250px;
  
}
.wrapper .kartica{
  position: relative;
  background-color: aqua;
  border: 1px solid black;
  margin: 10px;
}
.wrapper .kartica .slika{
  position: relative;
  width: 100%;
  height: 80%;
  background-color: green;
}
.wrapper .kartica .slika img{
  width: 100%;
  height: 100%;
  position: relative;
}
.wrapper .kartica .naslov{
  position: relative;
  width: 100%;
  height: 20%;
  background-color: brown;
  top: -9.5%;
  text-align: center;
}