body{
    background-color: #101010;
}


.teamSection .roster .igrac .jedan{
  background-image: url(../images/valo2.png);
}

.dva{
  background-image: url(../images/valo6.png);
}
.tri{
  background-image: url(../images/valo3.png);
}
.cetri{
  background-image: url(../images/valo4.png);
}
.pet{
  background-image: url(../images/valo1.png);
}
.sest{
  background-image: url(../images/Plan_de_travail_1.png);
}




.mecevi{
  position: relative;
  top: 200px;
}
.image{
  width: 100%;
}
.image img{
  position: relative;
  width: 100%;
}
.newsletter{
  position: relative;
  top: 200px;
  z-index: 0;
}

footer{
  position: relative;
  top: 200px;
}