body{
    background-color: #101010;
}


.teamSection .roster .igrac .jedan{
  background-image: url(../images/valo2.png);
}

.dva{
  background-image: url(../images/cjoffo1.png);
}
.tri{
  background-image: url(../images/fajkus1.png);
}
.cetri{
  background-image: url(../images/brutmonster1.png);
}
.pet{
  background-image: url(../images/avnn1.png);
}
.sest{
  background-image: url(../images/simke1.png);
}

