ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}

li {
    display: inline;
    float: left;
}

li a {
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: blue;
}

form input {
    margin: 5px 5px;
}

table {
    border-collapse: collapse;
}

th:not(:last-child), td:not(:last-child) {
    border-right: 1px solid black;
}

th, td {
    text-align: center;
}

tr:not(:first-child) {
    border-top: 1px solid black;
}

th {
    border-bottom: 1px solid black;
}